html {
    scroll-behavior: smooth;
}

#title {
    font-size: 300%;
    text-align: left;
    font-weight: bold;
    color: black;
    padding-left: 25px;
}

.row.title {
    padding-top: 50px;
}

#content {
    padding-top: 5px;
}

#menu_bar {
    text-align: center;
}

#social-media {
    padding-top: 12px;
}

.fa {
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 53px;
    float: right;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border: 3px solid white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    border: 3px solid white;
}

.fa-github {
    background: #333;
    color: white;
    border-left: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.work-exp {
    height: 100%;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.corp-logo-div {
    text-align: center;
    padding-bottom: 20%;
}

.corp-exp-desc {
    padding-bottom: 20%;
}

.img-vert-center-helper {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

.corp-logo-img {
    vertical-align: middle;
}

.page {
    height: 100vh;
    padding-top: 5%
}

/* horizontal scroll */

.scroll-vert-long {
    width: 100%;
}

.scroll-sticky {
    position: sticky;
    height: 100vh;
    width: 100%;
    top: 0;
    overflow-x: hidden;
}

.scroll-static {
    /* position: absolute; */
    height: 65%;
}

.scroll-horizontal {
    /* position: absolute; */
    height: 35%;
    will-change: transform;
    /* transform: translateX(-75px); */
}

.scroll-content {
    height: 100%;
    display: inline-block;
}